:root {
    --color-primary: #fe8a02;
    --color-primary-dark: #42413c;
    --color-dark: #2a2626;
    --color-dark-light: #908d8b;
    --color-white: #fff;
    --color-white-light: #d7ccc0;
    --color-light: #f5f4f0;
    --color-brown: #b09a81;
    --color-blue: #1085c5;
}

@font-face {
    font-family: 'Open Sans';
    src: url(..\Fonts\Open_Sans\OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: 'Neucha';
    src: url(..\Fonts\Neucha\Neucha-Regular.ttf);
}

h1, h2, h3, h4, h5, h6 {

}