 
:root {
    --color-primary: #fe8a02;
    --color-primary-dark: #42413c;
    --color-dark: #2a2626;
    --color-dark-light: #908d8b;
    --color-white: #fff;
    --color-white-light: #d7ccc0;
    --color-light: #f5f4f0;
    --color-brown: #b09a81;
    --color-blue: #1085c5;
}

@font-face {
    font-family: 'Open Sans';
    src: url("..\Fonts\Open_Sans\OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Neucha';
    src: url("..\Fonts\Neucha\Neucha-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    position: relative;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    color: var(--color-dark);  
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.2em;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
}

p {
    padding-top: 30px;
}    

.header-container {
    position: relative;
}

.header-container::before {
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 50%;
    transform: translate(-50%);
    
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    
    content: "";
}

.header {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.img-header {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}

.img-height-header {
    height: 525px;
}

.header-columns-2 {
    columns: 2;
    column-gap: 30px;
    padding-top: 170px;
}

#head-h1 {
    font-size: 72px;
    font-family: 'Neucha';    
}

#head2-h1 {
    font-size: 72px;
    font-family: 'Neucha';    
}

.header-h1 {
    color: var(--color-primary);
}

.div-header-button {
    padding-top: 30px;
}

.header-button {
    background: var(--color-primary);
    padding: 12px 24px;
    border: 0;
    font-weight: bold;
    left: 570px;
    position: absolute;
    cursor: pointer;
}    

.header-button:hover {
    background: #EA7600;
    padding: 12px 24px;
    border: 0;
    font-weight: bold;
    left: 570px;
    position: absolute;
    cursor: pointer;
}  

.header-a {
    color: var(--color-white);
    text-decoration: none;
    text-transform: uppercase;
}    

.section-container {
    position: relative;
    max-width: 1110px;
    height: 820px;
    margin: 0 auto;
    padding: 100px 0;
}

.div-section-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.p-block2 {
    text-align: center;    
}    
    
.video-container {
    padding-top: 30px;    
}    
    
.video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}    

main {
    background: var(--color-primary-dark);
    padding: 100px 0;
}

.main-container {
    align-items: center;
    text-align: left;
    padding-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}
    
.main-container-box {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 323px;
    margin-bottom: 20px;
    background: var(--color-light);
    padding: 24px;
}

#navigation > div p {
    padding: 0;
} 

.number {
    padding-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha';
    line-height: 1;
}
