 
:root {
    --color-primary: #fe8a02;
    --color-primary-dark: #42413c;
    --color-dark: #2a2626;
    --color-dark-light: #908d8b;
    --color-white: #fff;
    --color-white-light: #d7ccc0;
    --color-light: #f5f4f0;
    --color-brown: #b09a81;
    --color-blue: #1085c5;
}

@font-face {
    font-family: 'Open Sans';
    src: url("Fonts\Open_Sans\OpenSans-VariableFont_wdth,wght.ttf");
}

@font-face {
    font-family: 'Neucha';
    src: url("Fonts\Neucha\Neucha-Regular.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    position: relative;
    max-width: 1440px;
    margin: auto;
    font-family: 'Open Sans';
    font-size: 16px;
    line-height: 1.6em;
    color: var(--color-dark);  
}

h2, h3, h4, h5, h6 {
    font-family: 'Neucha';
    line-height: 1.2em;
}

h1 {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.2em;
}

h2 {
    font-size: 60px;
}

h3 {
    font-size: 34px;
    color: var(--color-primary);
}

p {
    padding-top: 30px;
}    

#navigation > div a {
    text-decoration: none;
    color: var(--color-dark);
}

.header-container {
    position: relative;
    height: 914px;
    background: var(--color-light);
}

.header-container::before {
    position: absolute;
    width: 1440px;
    height: 914px;
    left: 50%;
    transform: translate(-50%);
    
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    
    content: "";
}

.wrapper {
    position: relative;
    max-width: 1110px;
    margin: 0 auto;
    padding: 100px 0;
}

.img-header {
    position: absolute;
    height: 525px;
    top: 55px;
    right: -270px;
}

.img-height-header {
    height: 525px;
}

.header-columns-2 {
    columns: 2;
    column-gap: 30px;
    padding-top: 165px;
}

.head-h1 {
    font-size: 72px;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
}

#head2-h1 {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
}

.header-h1 {
    color: var(--color-primary);
}

.div-header-button {
    padding-top: 30px;
}

.header-button {
    position: absolute;
    left: 570px;
    padding: 12px 24px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background: var(--color-primary);
}    

.header-button:hover {
    position: absolute;
    left: 570px;
    padding: 12px 24px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    background: #EA7600;
}  

.header-a {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--color-white);
}    

.section-container {
    position: relative;
    max-width: 1110px;
    height: 945px;
    margin: 0 auto;
    padding: 100px 0;
}

.div-section-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.p-block2 {
    text-align: center;    
}    
    
.video-container {
    padding-top: 30px;    
}    
    
.video {
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}    

main {
    margin-top: -110px;
    padding: 100px 0;
    background: var(--color-primary-dark);
}

.main-container {
    padding-top: 100px;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    text-align: left;
}

.column-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
}
    
.main-container-box {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 323px;
    margin-bottom: 20px;
    padding: 24px;
    background: var(--color-light);
}

.main-container-box-child1 {
    position: relative;
    top: 0;
    left: 0;
    width: 350px;
    height: 323px;
    margin-bottom: 20px;
    padding: 24px;
    background: var(--color-light);
}

.main-container-box:hover {
    cursor: pointer;
    color: var(--color-white);
    background: var(--color-primary);
}

.main-container-box:hover h3 {
    color: var(--color-white);
 }

#navigation > div a:hover {
    color: var(--color-white);
}

#navigation > div > div:nth-child(1) {
    padding: 0;
    background: var(--color-primary-dark);
}

#navigation > div > div:nth-child(1) > h3 > span {
    color: var(--color-primary);
}

#navigation > div > div:nth-child(1) > h3 {
    line-height: 62px;
    font-size: 52px;
    font-weight: 400;
    color: var(--color-white);
}

#navigation > div p {
    padding-top: 12px;
    line-height: 26px;
}

#navigation > div > div:nth-child(n+4) {
    height: 348px;
    margin-bottom: 0;
}

.number {
    padding-bottom: 40px;
    font-size: 64px;
    font-family: 'Neucha';
    line-height: 1;
}

.font-p {
    padding: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-dark-light);
}

.font-p-dark {
    padding: 0;
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--color-white-light);
}

.padding-0 {
    padding-top: 0;
}

.ikea-columns-2 {
    display: flex;
    columns: 2;
    column-gap: 30px;
}

.ikea-columns-2-2 {
    columns: 2;
    column-gap: 30px;
    padding-top: 20px;
    color: var(--color-dark);
}

.shadow {
    filter: drop-shadow(0px 16px 32px rgba(0, 0, 0, 0.15));
}

#ikea-effect > div > div > div > div:nth-child(2) > h1 {
    color: var(--color-dark);
}

#ikea-effect > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-dark);
}

.small-h {
    display: flex;
    margin-top: 100px;
    height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #B09A81;
} 

.small-h > h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    padding-left: 10px;
}

.ikea-columns-2-3 {
    columns: 2;
    column-gap: 30px;
    padding-top: 20px;
    color: var(--color-white);
}

.header-container-premature-optimization {
    position: relative;
    background: var(--color-brown);
}

.header-container-premature-optimization::before {
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 50%;
    transform: translate(-50%);
    
    background-image: url("images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 10%;
    
    content: "";
}

.small-h-premature-optimization {
    display: flex;
    margin-top: 100px;
    height: 26px;
    align-items: center;
    text-transform: uppercase;
    color: #B09A81;
    background: #FFFFFF;
} 

.small-h-premature-optimization > h4 {
    font-family: 'Open Sans';
    font-style: normal;
    font-size: 14px;
    padding-left: 10px;
}

.ikea-columns-2-premature-optimization {
    display: flex;
    flex-direction: row-reverse;
    columns: 2;
    column-gap: 30px;
}

#premature-optimization > div > div > div > div:nth-child(2) > h1 {
    color: var(--color-white);
}

#premature-optimization > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-white);
}

#distortion-of-novelty > div > div > div > div:nth-child(2) > h1 {
    color: var(--color-dark);
}

#distortion-of-novelty > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-dark);
}
#hyperbolic-depreciation > div > div > div > div:nth-child(2) > h1 {
    color: var(--color-white);
}

#hyperbolic-depreciation > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-white);
}

#errors-in-planning > div > div > div > div:nth-child(2) > h1 {
    color: var(--color-dark);
}

#errors-in-planning > div > div > div > div:nth-child(2) > p:nth-child(3) {
    font-family: 'Neucha';
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 41px;
    color: var(--color-dark);
}

.footer-container {
    position: relative;
    padding-top: 100px;
    height: 581px;
    max-width: 1440px;
    margin: 0 auto;
}

.footer-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 60px;
    padding: 55px;
    max-width: 1110px;
    height: 190px;
    align-items: center;
    background: var(--color-primary-dark);
}

.find-box {
    position: relative;
    width: 485px;
    height: 50px;
    left: 0px;
    top: 0px;
    background: var(--color-white);
    border: 1px solid #000;
}

.footer-h3 {
    color: #FFFFFF;
}

body > footer > div > div > div:nth-child(2) > div.find-box > div:nth-child(2) > p > a {
    color: #FFFFFF;
}

.footer-p {
    padding-top: 16px;
    text-align: center;
    font-size: 14px;
}

.find-box-p, .find-box-p2 {
    position: absolute;
    padding-top: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
}

.find-box-p {
    margin-top: -30px;
} 

.find-box-p2 {
    margin-top: 47px;
    font-size: 12px;
}

.send {
    width: 70px;
    height: 48px;
    margin-left: auto;
    background: var(--color-primary);
}

.send:hover {
    cursor: pointer;
    background: #EA7600;
} 

.send-img {
    display: flex;
    justify-content: center;
}

body > footer > div > div > div:nth-child(2) > div.find-box > div.send > a > div > img {
    padding: 12px;
}
